@font-face {
    font-family: 'exocetheavy';
    src: url('font/filmsexh-webfont.woff2') format('woff2'),
         url('font/filmsexh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --draco-font : 'exocetheavy';
    --dark-blue : rgb(8, 12, 61);
}

body {
    background-color: rgb(13, 37, 172);
    font-weight: bold;

    display: table;
    margin: auto;
    overflow-x: hidden;
}

/* ---------------------------------------- */
.dracomania-card{
    pointer-events: none;
    width: 430px;
    height: 670px;
    display: flex;

    font-family: var(--draco-font);

    box-shadow: 0 8px 6px -6px black; 
}
.borda-draco {
    position: absolute;
    width: 430px;
    height: 670px;
    border-radius: 8px;

    background-image: url("imagens/borda.png");
    background-size: 100% 100%;

    filter: drop-shadow(0px -5px 5px rgb(122, 88, 14));
}
.card-conteudo{
    box-shadow: inset 0 0 32px black;

    margin: auto;
    width: 90%;
    height: 91%;
    border-radius: 10px;
}

/* ---------------------------------------- */
.card-identificação{
    position: absolute;
    display: flex;

    background-image: url("imagens/id-box-medium.png");
    background-repeat: no-repeat;
    min-height: 135px;
    min-width: 330px;

    margin-left: 96px;
    margin-top: 20px;
}
.card-nome{
    display: block;
    line-height: 70px;

    margin-left: -35px;
    width: 260px;
    text-align: end;

    font-size: 30px;

    color: rgb(248, 248, 248);
    -webkit-text-stroke: 11px var(--dark-blue);
    paint-order: stroke fill;

}
.card-numero{
    position: absolute;
    margin-left: 238px;
    margin-top: 24px;
    display: flex;
    justify-content: center;

    font-size: 40px;
    min-width: 92px;
    
    color: rgb(248, 248, 248);
    -webkit-text-stroke: 11px var(--dark-blue);
    paint-order: stroke fill;
}

/* ---------------------------------------- */
.arte{
    margin-left: 5px;
    width: 98%;
    height: 100%;
}

/* ---------------------------------------- */
.card-status{
    background-image: url("imagens/textura.png");
    box-shadow: inset 0px 10px 20px 2px rgb(77, 64, 14);
    border-top: 6px solid rgb(143,121,61);

    margin-top: -5px;
    margin-left: 4px;
    width: 380px;
    height: 196px;

    display: flex;
    justify-content: space-between;
}
.status-coluna{
    margin-top: 15px;
    margin-left: 2px;
    
    min-width: 121px;
    text-align: center;
    line-height: 125px;
    vertical-align: middle;

    font-size: 45px;
    color: whitesmoke;
    -webkit-text-stroke: 12px var(--dark-blue);
    paint-order: stroke fill;
}
.valor-magia{    
    background-image: url("imagens/magia.png");
    background-repeat: no-repeat;
    background-position: 6px 0px;

    filter: drop-shadow(5px 10px 5px rgba(0,0,0,1));
}
.valor-força{    
    background-image: url("imagens/forca.png");
    background-repeat: no-repeat;
    background-position: 20px 8px;

    filter: drop-shadow(5px 10px 5px rgba(0,0,0,1));
}
.valor-fogo{    
    background-image: url("imagens/fogo.png");
    background-repeat: no-repeat;
    background-position: 16px 16px;

    filter: drop-shadow(5px 10px 5px rgba(0,0,0,1));
}
.icone-txt{
    font-size: 28px;

    color: var(--dark-blue);
    -webkit-text-stroke: 3px rgb(155, 130, 61);
    paint-order: stroke fill;

    margin-top: -50px;
}

/* ---------------------------------------- */
/* BACK OF THE CARDS */
.logo {
    transform: rotate(-90deg);
    height: 36%;

    margin-top: 52%;
    margin-left: -26%;
}
.back-bg{
    height: 100%;

    background-image: url("imagens/textura.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    box-shadow: inset 0 0 42px rgb(82, 47, 1);
}

/* ---------------------------------------- */
/* GAME RELATED STUFF */
.collection {
    display: flex;
    flex-wrap: wrap;

    max-width: 1280px;
}
.collection_card {
    /* at scale(0.5), width 220px and height 340px is perfect */
    transform: scale(0.25) translate(-50%, -50%);
    width: 110px;
    height: 170px;
}

.area-de-batalha{
    display: flex;

    margin-left: 393px;    
    margin-bottom: -50px;
}
.card-de-batalha{
    /* at scale(0.5), width 220px and height 340px is perfect */
    transform: scale(0.5) translate(-50%, -60%);
    width: 260px;
    height: 340px;
}

.game-interface{
    font-size: 22px;
    font-family: var(--draco-font);

    width: 380px;
    text-align: center;
    line-height: 120px;
    vertical-align: middle;

    position: absolute;
}
.opção-de-batalha{
    font-family: inherit;
    font-size: inherit;

    color: rgb(255,239,221);
    -webkit-text-stroke: 8px rgb(61, 61, 61);
    paint-order: stroke fill;

    width: 100px;
    height: 48px;
}
.mensagem-de-batalha{
    font-size: 20px;
    color: whitesmoke;
    line-height: 30px;

    margin-top: 50px;
    margin-bottom: 10px;
}
.coleção-contador{
    color: rgb(255,239,221);
    -webkit-text-stroke: 8px rgb(197, 128, 0);
    text-shadow: 6px 6px 1px black;
    paint-order: stroke fill;
}

.next-battle-btn{
    font-family: inherit;
    font-size: 75%;

    color: rgb(255,239,221);
    -webkit-text-stroke: 8px rgb(61, 61, 61);
    paint-order: stroke fill;

    background-color: rgb(197, 128, 0);
    border-color: rgb(95, 30, 0);
    border-radius: 5px;
    width: 200px;
    height: 48px;

    position: absolute;
    margin-top: -28px;
    margin-left: -105px;

    visibility: hidden;
}

.red-square {
    width: 215px;
    height: 335px;
    position: absolute;
    background-color: rgba(255,0,0, 0.5);
    border-radius: 6px;
    z-index: 1;

    margin-left: 0px;
    margin-top: -17px
}